@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

* {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
}

.menu-options {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2% 10% 1.2% ;
    border-bottom: 1px solid #CCC;
}

.i {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu {
    color: hsl(219, 9%, 45%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.menu-item {
    margin-left: 25px;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
}

.barraLaranja {
    border-bottom: 5px solid orange;
}

.ii {
    display: flex;
    align-items: center;
}

.foto-perfil {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 50px;
}

.carrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.numQuantProd {
    color: #fff;
    background-color: hsl(26, 100%, 55%);
    width: 20px;
    height: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    margin: 0 0 0 12px;
}

.cart-span {
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 20px 30px hsl(0, 1%, 81%);
    position: fixed;
    background-color: #fff;
    z-index: 1;
    right: 75px;
    top: 76px;
    transition: 0.5 all ease-in-out;
    padding: 10px;
}

.on {
    display: flex;
}

.off {
    display: none;
}

.title {
    font-family: 'Kumbh Sans', monospace;
    font-weight: 700;
    padding: 20px;
    border-bottom: 1px solid #CCC;
}

.prod-info {
    display: flex;
    padding: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.titulo-prod {    
    font-family: 'Kumbh Sans', monospace;
    font-weight: 300;
    color: hsl(219, 9%, 45%);

}

.multi-preco {
    font-family: 'Kumbh Sans', monospace;
    font-weight: 300;
    color: hsl(219, 9%, 45%);
    display: flex;
    margin-right: 5px;
}

.multi-preco2 {
    font-family: 'Kumbh Sans', monospace;
    font-weight: 300;
    color: hsl(219, 9%, 45%);
    display: flex;
    margin-right: 5px;
}

.multi-total  {
    font-family: 'Kumbh Sans', monospace;
    font-weight: 500;
    font-size: 1.5rem;
}

.imagem-carrinho {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    margin-right: 20px;
}

.lixeira {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkout {
    display: flex;
    justify-content: center;
}

.final-compra {
    background-color: hsl(26, 100%, 55%);
    color: #fff;
    border: none;
    font-size: 1.1rem;
    width: 90%;
    height: 70px;
    padding: 0px 10px;
    border-radius: 10px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.contentCarrinho {
    flex-direction: column;
}

.carrinhoVazio {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.carrinhoVazioText {
    font-family: 'Kumbh Sans', monospace;
    font-weight: 200;
    color: rgb(142, 142, 140);
}

.body {
    width: 100%;
    height: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagens{
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.closeModal {
    cursor: pointer;
}

.imagemG {
    margin: 50px;
    display: flex;
    align-items: center;
}

.setas {
    background-color: #fff;
    padding: 20px;
    border-radius: 50%;
    transition: .3s all ease-in-out;
    cursor: pointer;
}

.setas:hover {
    background-color: #dcdada;
}

.imagemGrande {
    width: 100%;
    height: 500px;
    border-radius: 15px;
    cursor: pointer;
}

.contentModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0 0 0 ;
    margin: 0;
}

.imagemGrande2 {
    width: 700px;
    height: 600px;
    border-radius: 15px;
    margin: 0;
}

.imagensP {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imagensP2 {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.imagemPequena1 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .3s all ease-in-out;
}

.imagemPequena1:hover {
    opacity: 0.3;
}

#imagemPequena1 {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    cursor: pointer;
}
.imagemPequena2 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .3s all ease-in-out;
}

.imagemPequena2:hover {
    opacity: 0.3;
}

#imagemPequena2 {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    cursor: pointer
}
.imagemPequena3 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .3s all ease-in-out;
}

.imagemPequena3:hover {
    opacity: 0.3;
}

#imagemPequena3 {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    cursor: pointer;
}
.imagemPequena4 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .3s all ease-in-out;
}

.imagemPequena4:hover {
    opacity: 0.3;
}

#imagemPequena4 {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    cursor: pointer;
}

.imagemPequena5 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .3s all ease-in-out;
}

.imagemPequena5:hover {
    opacity: 0.3;
}

#imagemPequena5 {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    cursor: pointer;
    background-color: #fff;
    margin-right: 20px;
}
.imagemPequena6 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .3s all ease-in-out;
}

.imagemPequena6:hover {
    opacity: 0.3;
}

#imagemPequena6 {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    cursor: pointer;
    background-color: #fff;
    margin-right: 20px;
}
.imagemPequena7 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .3s all ease-in-out;
}

.imagemPequena7:hover {
    opacity: 0.3;
}

#imagemPequena7 {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    cursor: pointer;
    background-color: #fff;
    margin-right: 20px;
}
.imagemPequena8 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .3s all ease-in-out;
}

.imagemPequena8:hover {
    opacity: 0.3;
}

#imagemPequena8 {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    cursor: pointer;
    background-color: #fff;
}


.border{
    border: 2.5px solid hsl(26, 100%, 60%);
}

.opacity {
    opacity: 30%;
}


.info {
    max-width: 460px;
}

.fornecedor {
    color: hsl(26, 100%, 55%);
}

.nome-produto {
    color: hsl(220, 13%, 13%);
    font-size: 1.3rem;
    margin-bottom: 40px;
    margin-top: 20px;
}

.descri {
    color: hsl(219, 9%, 45%);
    margin-bottom: 30px;
}

.preco-desc {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.preco {
    color: hsl(220, 13%, 13%);
    font-size: 1.2rem;
    margin-right: 3.5%;
}

.desc {
    font-family: 'Kumbh Sans', monospace;
    font-weight: 200;
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    padding: 0px 5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    border-radius: 5px;
}

.preco-total {
    text-decoration: line-through;
    color: hsl(220, 14%, 75%);
    margin-bottom: 50px;
}


.botoes {
    display: flex;
    align-items: center;
}

.quant-prod {
    background-color: hsl(223, 64%, 98%);
    display: flex;
    align-items: center;
    width: 120px;
    padding: 15px;
    justify-content: space-between;
    border-radius: 5px;
    color: hsl(220, 13%, 13%);
    font-weight: 700;
    margin-right: 3%;
}

.menos {
    background-color: #0000;
    border: none;
    cursor: pointer;
    outline-color: #0000;
}

.mais {
    background-color: #0000;
    border: none;
    cursor: pointer;
    outline-color: #0000;
}

.add-cart-button {
    background-color: hsl(26, 100%, 55%);
    color: #fff;
    box-shadow: 0px 10px 10px hsl(25, 100%, 94%);
    border: none;
    font-size: 1.1rem;
    width: 260px;
    height: 50px;
    padding: 0px 10px;
    border-radius: 10px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    outline-color: #0000;
}

.add-cart-button:hover {
    background-color: hsl(26, 92%, 70%);
    color: #fff;
    box-shadow: 0px 10px 10px hsl(25, 100%, 90%);
    transition: 0.3s all ease-in-out;
    outline-color: none;
}

dialog::backdrop {
    background-color: rgb(0,0,0, 0.6);
}

dialog {
    border: none;
    border-radius: 0.5rem;
    background-color: #0000;
    width: 100%;
    height: 96%;
    flex-direction: column;
    outline: none;
    align-items: center;
    justify-content: center;
}

.assetas {
    display: none;
}

/* Estilizações para celular*/

@media (max-width: 950px) {
    .menu-item {
        margin-left: 5px;
        margin-bottom: 10px;
        padding: 15px;
        cursor: pointer;
    }

    .foto-perfil {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        margin-left: 20px;
    }

    .assetas {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 400px;
        margin-left: 50px;
    }

    .setas2 {
        background-color: #fff;
        padding: 20px;
        border-radius: 50%;
        transition: .3s all ease-in-out;
        cursor: pointer;
    }

    .setas2:hover {
        background-color: antiquewhite;
    }

    .imagensP {
        display: none;
    }

    dialog {
        display: none;
    }

    .botoes {
        display: flex;
        flex-direction: column;
    }

    .quant-prod {
        width: 230px;
        height: 50px;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .info {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        width: 350px;
    }

    .assetas {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 400px;
        margin-left: 25px;
    }

    .setas2 {
        background-color: #fff;
        padding: 20px;
        border-radius: 50%;
        transition: .3s all ease-in-out;
        cursor: pointer;
    }

    .setas2:hover {
        background-color: antiquewhite;
    }
}

@media (max-width: 880px) {
    .assetas {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 370px;
        margin-left: 25px;
    }
}

@media (max-width: 840px) {
    .assetas {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 330px;
        margin-left: 25px;
    }
}

@media (max-width: 780px) {
    .assetas {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 320px;
        margin-left: 25px;
    }

    .header {
        width: 600px;
        display: flex;
        padding: 1.2% 10% 1.2% ;
        margin-bottom: 20px;
        z-index: 1;
    }


    .menu-options {
        color: hsl(219, 9%, 45%);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }
   
    .menu {
        display: none;
    }
}

@media (max-width: 750px) {
    .assetas {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 290px;
        margin-left: 25px;
    }
}

@media (max-width: 720px) {
    .body {
        width: 700px;
        padding: 0 20px 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imagemG {
        margin-top: 210px;
        width: 780px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imagemGrande {
        width: 100%;
        height:560px;
        border-radius: 0px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .assetas {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 600px;
        margin-left: 50px;
    }

    .setas2 {
        background-color: #fff;
        padding: 20px;
        border-radius: 50%;
        transition: .3s all ease-in-out;
        cursor: pointer;
    }

    .setas2:hover {
        background-color: antiquewhite;
    }

    .imagens{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 15px;
    }

    .imagensP {
        display: none;
    }

    dialog {
        display: none;
    }

    .info {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        width: 800px;
    }

    .relacionadoAPreco {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .preco-total {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .botoes {
        display: flex;
        flex-direction: column;
    }

    .quant-prod {
        width: 230px;
        height: 50px;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .cart-span {
        width: 400px;
        height: 300px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 20px 30px hsl(0, 0%, 26%);
        position: fixed;
        background-color: #fff;
        z-index: 1;
        right:2px;
        top: 50px;
        transition: 0.5 all ease-in-out;
        padding: 10px;
    }

    .on {
        display: flex;
    }

    .off {
        display: none;
    }
    
    .add-cart-button {
        background-color: hsl(26, 100%, 55%);
        color: #fff;
        box-shadow: 0px 10px 10px hsl(25, 100%, 94%);
        border: none;
        font-size: 1.1rem;
        width: 260px;
        height: 50px;
        padding: 0px 10px;
        border-radius: 10px;
        transition: 0.3s all ease-in-out;
        cursor: pointer;
        outline-color: #0000;
        margin-bottom: 5px;
    }
    
    .add-cart-button:hover {
        background-color: hsl(26, 92%, 70%);
        color: #fff;
        box-shadow: 0px 10px 10px hsl(25, 100%, 90%);
        transition: 0.3s all ease-in-out;
        outline-color: none;
    }

    .prod-info {
        display: flex;
        padding: 15px;
    }
}

@media (max-width: 650px) {
    .header {
        width: 500px;
        display: flex;
        padding: 1.2% 10% 1.2% ;
        margin-bottom: 20px;
        z-index: 1;
    }

    .body {
        width: 500px;
        padding: 0 20px 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imagemG {
        margin-top: 210px;
        width: 760px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imagemGrande {
        width: 100%;
        height:560px;
        border-radius: 0px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .assetas {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 550px;
        margin-left: 100px;
    }

    .info {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        width: 800px;
    }
}

@media (max-width: 600px) {
    .header {
        width: 480px;
        display: flex;
        padding: 1.2% 10% 1.2% ;
        margin-bottom: 20px;
        z-index: 1;
    }

    .body {
        width: 500px;
        padding: 0 20px 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imagemG {
        margin-top: 210px;
        width: 670px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imagemGrande {
        width: 100%;
        height:560px;
        border-radius: 0px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .assetas {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 550px;
        margin-left: 100px;
    }

    .info {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        width: 800px;
    }
}

@media (max-width: 400px) {
    .header {
        width: 300px;
        display: flex;
        padding: 1.2% 10% 1.2% ;
        margin-bottom: 20px;
        z-index: 1;
    }

    .body {
        width: 250px;
        padding: 0 20px 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imagens{
        width: 300px;
        height: 400px;
        margin: 32px 130px 30px 130px;
        display: flex;
        flex-direction: column;
        margin-right: 5%;
    }

    .imagemG {
        margin-top: 90px;
        margin-left: 10px;
        width: 370px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imagemGrande {
        width: 100%;
        height:360px;
        border-radius: 0px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .assetas {
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 0.5;
        position: absolute;
        width: 340px;
        margin-left: 0px;
    }

    .info {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-right: -80px;
        width: 300px;
    }
}

.show-menu-options {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #0009;
    color: #fff;
    top: 0;
}

.menu2 {
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: initial;
    background-color: #fff;
    color: #000;
    list-style: none;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.4rem;
}

#seis {
    margin-top: 40px;
}